# CSV read and write with pandas

# Document

<table align="left">
    <tr>
        <th class="text-align:left">Title</th>
        <td class="text-align:left">CSV read and write in pandas</td>
    </tr>
    <tr>
        <th class="text-align:left">Last modified</th>
        <td class="text-align:left">2018-09-14</td>
    </tr>
    <tr>
        <th class="text-align:left">Author</th>
        <td class="text-align:left">Gilles Pilon <gillespilon13@gmail.com></td>
    </tr>
    <tr>
        <th class="text-align:left">Status</th>
        <td class="text-align:left">Active</td>
    </tr>
    <tr>
        <th class="text-align:left">Type</th>
        <td class="text-align:left">Jupyter notebook</td>
    </tr>
    <tr>
        <th class="text-align:left">Created</th>
        <td class="text-align:left">2018-09-10</td>
    </tr>
    <tr>
        <th class="text-align:left">File name</th>
        <td class="text-align:left">csv_read_write_pandas.ipynb</td>
    </tr>
    <tr>
        <th class="text-align:left">Other files required</th>
        <td class="text-align:left"></td>
    </tr>
</table>

# In brevi

The purpose of this Jupyter notebook is to illustrate how to read and write CSV files with pandas.

# Code

## Import libraries

In [1]:
# Import librairies
import pandas as pd

## Parameters

In [2]:
# This code forces Jupyter to display all rows when asked.
pd.set_option('display.max_rows', 500)

## Create dataframe

In [3]:
# Create a dataframe to write and read.
data = {'stagefirst':  ['Moe', 'Larry', 'Curly', 'Shemp', 'Curly Joe',
                        'Joe'],
        'stagelast':   ['Howard', 'Fine', '.', 'Howard', 'DeRita',
                        'Besser'],
        'realfirst':   ['Moses Harry', 'Louis', 'Jerome Lester',
                        'Samuel', 'Joseph', 'Joe'],
        'reallast':    ['Horwitz', 'Feinberg', 'Horwitz', 'Horwitz',
                        'Wardell', 'Besser'],
        'born':        ['1897-06-19', '1902-10-05', '1903-10-22',
                        '1895-03-11', '1909-07-12', '1907-08-12'],
        'died':        ['1975-05-04', '1975-01-24', '1952-01-18',
                        '1955-11-22', '1993-07-03', '1988-03-01'],
        'cause':       ['lung cancer', 'stroke', 'cerebral hemorrhage',
                        'heart attack', 'pneumonia', 'heart failure'],
        'age':         [77, 72, 48, 60, 83, 80],
        'height':      [114, 124, 131, '.', '.', '.'],
        'weight':      ['25,000', '94,000', 157, 162, 170, 200]
       }
df = pd.DataFrame.from_dict(data, orient='columns')
df

,stagefirst,stagelast,realfirst,reallast,born,died,cause,age,height,weight
0,Moe,Howard,Moses Harry,Horwitz,1897-06-19,1975-05-04,lung cancer,77,114,"25,000"
1,Larry,Fine,Louis,Feinberg,1902-10-05,1975-01-24,stroke,72,124,"94,000"
2,Curly,.,Jerome Lester,Horwitz,1903-10-22,1952-01-18,cerebral hemorrhage,48,131,157
3,Shemp,Howard,Samuel,Horwitz,1895-03-11,1955-11-22,heart attack,60,.,162
4,Curly Joe,DeRita,Joseph,Wardell,1909-07-12,1993-07-03,pneumonia,83,.,170
5,Joe,Besser,Joe,Besser,1907-08-12,1988-03-01,heart failure,80,.,200

## Write dataframe

In [4]:
# Write the dataframe to the current working directory.
df.to_csv('data.csv')

## Read dataframe

In [5]:
# Read a data file to a dataframe.
df = pd.read_csv('data.csv')
df

,Unnamed: 0,stagefirst,stagelast,realfirst,reallast,born,died,cause,age,height,weight
0,0,Moe,Howard,Moses Harry,Horwitz,1897-06-19,1975-05-04,lung cancer,77,114,"25,000"
1,1,Larry,Fine,Louis,Feinberg,1902-10-05,1975-01-24,stroke,72,124,"94,000"
2,2,Curly,.,Jerome Lester,Horwitz,1903-10-22,1952-01-18,cerebral hemorrhage,48,131,157
3,3,Shemp,Howard,Samuel,Horwitz,1895-03-11,1955-11-22,heart attack,60,.,162
4,4,Curly Joe,DeRita,Joseph,Wardell,1909-07-12,1993-07-03,pneumonia,83,.,170
5,5,Joe,Besser,Joe,Besser,1907-08-12,1988-03-01,heart failure,80,.,200

In [6]:
# Read a data file to a dataframe.
# Ensure date columns are recognized as dates.
df = pd.read_csv('data.csv', parse_dates=True)
df

,Unnamed: 0,stagefirst,stagelast,realfirst,reallast,born,died,cause,age,height,weight
0,0,Moe,Howard,Moses Harry,Horwitz,1897-06-19,1975-05-04,lung cancer,77,114,"25,000"
1,1,Larry,Fine,Louis,Feinberg,1902-10-05,1975-01-24,stroke,72,124,"94,000"
2,2,Curly,.,Jerome Lester,Horwitz,1903-10-22,1952-01-18,cerebral hemorrhage,48,131,157
3,3,Shemp,Howard,Samuel,Horwitz,1895-03-11,1955-11-22,heart attack,60,.,162
4,4,Curly Joe,DeRita,Joseph,Wardell,1909-07-12,1993-07-03,pneumonia,83,.,170
5,5,Joe,Besser,Joe,Besser,1907-08-12,1988-03-01,heart failure,80,.,200

In [7]:
# Read a data file to a dataframe without column names.
df= pd.read_csv('data.csv', parse_dates=True, header=None)
df

,0,1,2,3,4,5,6,7,8,9,10
0,NaN,stagefirst,stagelast,realfirst,reallast,born,died,cause,age,height,weight
1,0.0,Moe,Howard,Moses Harry,Horwitz,1897-06-19,1975-05-04,lung cancer,77,114,"25,000"
2,1.0,Larry,Fine,Louis,Feinberg,1902-10-05,1975-01-24,stroke,72,124,"94,000"
3,2.0,Curly,.,Jerome Lester,Horwitz,1903-10-22,1952-01-18,cerebral hemorrhage,48,131,157
4,3.0,Shemp,Howard,Samuel,Horwitz,1895-03-11,1955-11-22,heart attack,60,.,162
5,4.0,Curly Joe,DeRita,Joseph,Wardell,1909-07-12,1993-07-03,pneumonia,83,.,170
6,5.0,Joe,Besser,Joe,Besser,1907-08-12,1988-03-01,heart failure,80,.,200

In [8]:
# Read a data file to a dataframe. Specify the column names.
df = pd.read_csv('data.csv',
                 parse_dates=True,
                 names = ['ID', 'Stage First', 'Stage Last',
                          'Real First', 'Real Last', 'Born',
                          'Died', 'Cause', 'Age', 'Ht', 'Wt'])
df

,ID,Stage First,Stage Last,Real First,Real Last,Born,Died,Cause,Age,Ht,Wt
0,NaN,stagefirst,stagelast,realfirst,reallast,born,died,cause,age,height,weight
1,0.0,Moe,Howard,Moses Harry,Horwitz,1897-06-19,1975-05-04,lung cancer,77,114,"25,000"
2,1.0,Larry,Fine,Louis,Feinberg,1902-10-05,1975-01-24,stroke,72,124,"94,000"
3,2.0,Curly,.,Jerome Lester,Horwitz,1903-10-22,1952-01-18,cerebral hemorrhage,48,131,157
4,3.0,Shemp,Howard,Samuel,Horwitz,1895-03-11,1955-11-22,heart attack,60,.,162
5,4.0,Curly Joe,DeRita,Joseph,Wardell,1909-07-12,1993-07-03,pneumonia,83,.,170
6,5.0,Joe,Besser,Joe,Besser,1907-08-12,1988-03-01,heart failure,80,.,200

In [9]:
# Read a data file to a dataframe. Specify the column labels.
# Skip the first row of the file, which contains column names.
df = pd.read_csv('data.csv',
                 parse_dates=True,
                 skiprows=1,
                 names = ['ID', 'Stage First', 'Stage Last', 'Real First',
                          'Real Last', 'Born', 'Died', 'Cause', 'Age',
                          'Ht', 'Wt'])
df

,ID,Stage First,Stage Last,Real First,Real Last,Born,Died,Cause,Age,Ht,Wt
0,0,Moe,Howard,Moses Harry,Horwitz,1897-06-19,1975-05-04,lung cancer,77,114,"25,000"
1,1,Larry,Fine,Louis,Feinberg,1902-10-05,1975-01-24,stroke,72,124,"94,000"
2,2,Curly,.,Jerome Lester,Horwitz,1903-10-22,1952-01-18,cerebral hemorrhage,48,131,157
3,3,Shemp,Howard,Samuel,Horwitz,1895-03-11,1955-11-22,heart attack,60,.,162
4,4,Curly Joe,DeRita,Joseph,Wardell,1909-07-12,1993-07-03,pneumonia,83,.,170
5,5,Joe,Besser,Joe,Besser,1907-08-12,1988-03-01,heart failure,80,.,200

In [10]:
# Read a data file to a dataframe. Specify the column labels.
# Skip the first row of the file, which contains column names.
# Set the index column to ID.
df = pd.read_csv('data.csv',
                 parse_dates=True,
                 skiprows=1, index_col='ID',
                 names = ['ID', 'Stage First', 'Stage Last',
                          'Real First', 'Real Last', 'Born', 'Died',
                          'Cause', 'Age', 'Ht', 'Wt'])
df

,Stage First,Stage Last,Real First,Real Last,Born,Died,Cause,Age,Ht,Wt
ID,,,,,,,,,,
0,Moe,Howard,Moses Harry,Horwitz,1897-06-19,1975-05-04,lung cancer,77,114,"25,000"
1,Larry,Fine,Louis,Feinberg,1902-10-05,1975-01-24,stroke,72,124,"94,000"
2,Curly,.,Jerome Lester,Horwitz,1903-10-22,1952-01-18,cerebral hemorrhage,48,131,157
3,Shemp,Howard,Samuel,Horwitz,1895-03-11,1955-11-22,heart attack,60,.,162
4,Curly Joe,DeRita,Joseph,Wardell,1909-07-12,1993-07-03,pneumonia,83,.,170
5,Joe,Besser,Joe,Besser,1907-08-12,1988-03-01,heart failure,80,.,200

In [11]:
# Read a data file to a dataframe. Specify the column labels.
# Skip the first row of the file, which contains column names.
# Set the index column to Born.
df = pd.read_csv('data.csv',
                 parse_dates=True,
                 skiprows=1, index_col='Born',
                 names = ['ID', 'Stage First', 'Stage Last',
                          'Real First', 'Real Last', 'Born', 'Died',
                          'Cause', 'Age', 'Ht', 'Wt'])
df

,ID,Stage First,Stage Last,Real First,Real Last,Died,Cause,Age,Ht,Wt
Born,,,,,,,,,,
1897-06-19,0,Moe,Howard,Moses Harry,Horwitz,1975-05-04,lung cancer,77,114,"25,000"
1902-10-05,1,Larry,Fine,Louis,Feinberg,1975-01-24,stroke,72,124,"94,000"
1903-10-22,2,Curly,.,Jerome Lester,Horwitz,1952-01-18,cerebral hemorrhage,48,131,157
1895-03-11,3,Shemp,Howard,Samuel,Horwitz,1955-11-22,heart attack,60,.,162
1909-07-12,4,Curly Joe,DeRita,Joseph,Wardell,1993-07-03,pneumonia,83,.,170
1907-08-12,5,Joe,Besser,Joe,Besser,1988-03-01,heart failure,80,.,200

In [12]:
# Read a data file to a dataframe. Specify the column labels.
# Skip the first row of the file, which contains column names.
# Set the index column to first and last names.
df = pd.read_csv('data.csv', parse_dates=True, index_col=[1,2])
df.index.names = ['Stage First', 'Stage Last']
df.columns = ['ID', 'Real First', 'Real Last',  'Born', 'Died',
              'Cause', 'Age', 'Ht', 'Wt']
df

,,ID,Real First,Real Last,Born,Died,Cause,Age,Ht,Wt
Stage First,Stage Last,,,,,,,,,
Moe,Howard,0,Moses Harry,Horwitz,1897-06-19,1975-05-04,lung cancer,77,114,"25,000"
Larry,Fine,1,Louis,Feinberg,1902-10-05,1975-01-24,stroke,72,124,"94,000"
Curly,.,2,Jerome Lester,Horwitz,1903-10-22,1952-01-18,cerebral hemorrhage,48,131,157
Shemp,Howard,3,Samuel,Horwitz,1895-03-11,1955-11-22,heart attack,60,.,162
Curly Joe,DeRita,4,Joseph,Wardell,1909-07-12,1993-07-03,pneumonia,83,.,170
Joe,Besser,5,Joe,Besser,1907-08-12,1988-03-01,heart failure,80,.,200

In [13]:
# Read a data file to a dataframe. Specify the column labels.
# Skip the first row of the file, which contains column names.
# Set the index column to birth and death dates.
df = pd.read_csv('data.csv', parse_dates=True, index_col=[5,6])
df.index.names = ['Born', 'Died']
df.columns = ['ID', 'Stage First', 'Stage Last', 'Real First',
              'Real Last', 'Cause', 'Age', 'Ht', 'Wt']
df

,,ID,Stage First,Stage Last,Real First,Real Last,Cause,Age,Ht,Wt
Born,Died,,,,,,,,,
1897-06-19,1975-05-04,0,Moe,Howard,Moses Harry,Horwitz,lung cancer,77,114,"25,000"
1902-10-05,1975-01-24,1,Larry,Fine,Louis,Feinberg,stroke,72,124,"94,000"
1903-10-22,1952-01-18,2,Curly,.,Jerome Lester,Horwitz,cerebral hemorrhage,48,131,157
1895-03-11,1955-11-22,3,Shemp,Howard,Samuel,Horwitz,heart attack,60,.,162
1909-07-12,1993-07-03,4,Curly Joe,DeRita,Joseph,Wardell,pneumonia,83,.,170
1907-08-12,1988-03-01,5,Joe,Besser,Joe,Besser,heart failure,80,.,200

In [14]:
# Read a data file. Specify values that are `'.' as NaN.
df = pd.read_csv('data.csv', parse_dates=True, na_values=['.'])
df

,Unnamed: 0,stagefirst,stagelast,realfirst,reallast,born,died,cause,age,height,weight
0,0,Moe,Howard,Moses Harry,Horwitz,1897-06-19,1975-05-04,lung cancer,77,114.0,"25,000"
1,1,Larry,Fine,Louis,Feinberg,1902-10-05,1975-01-24,stroke,72,124.0,"94,000"
2,2,Curly,NaN,Jerome Lester,Horwitz,1903-10-22,1952-01-18,cerebral hemorrhage,48,131.0,157
3,3,Shemp,Howard,Samuel,Horwitz,1895-03-11,1955-11-22,heart attack,60,NaN,162
4,4,Curly Joe,DeRita,Joseph,Wardell,1909-07-12,1993-07-03,pneumonia,83,NaN,170
5,5,Joe,Besser,Joe,Besser,1907-08-12,1988-03-01,heart failure,80,NaN,200

In [15]:
pd.isnull(df)

,Unnamed: 0,stagefirst,stagelast,realfirst,reallast,born,died,cause,age,height,weight
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,False,False,False,False,True,False

In [16]:
# Read a data file. Specify '.' and 'NA' as missing values.
notable = {'last': ['.', 'NA'], 'height': ['.']}
df = pd.read_csv('data.csv', parse_dates=True, na_values=notable)
df

,Unnamed: 0,stagefirst,stagelast,realfirst,reallast,born,died,cause,age,height,weight
0,0,Moe,Howard,Moses Harry,Horwitz,1897-06-19,1975-05-04,lung cancer,77,114.0,"25,000"
1,1,Larry,Fine,Louis,Feinberg,1902-10-05,1975-01-24,stroke,72,124.0,"94,000"
2,2,Curly,.,Jerome Lester,Horwitz,1903-10-22,1952-01-18,cerebral hemorrhage,48,131.0,157
3,3,Shemp,Howard,Samuel,Horwitz,1895-03-11,1955-11-22,heart attack,60,NaN,162
4,4,Curly Joe,DeRita,Joseph,Wardell,1909-07-12,1993-07-03,pneumonia,83,NaN,170
5,5,Joe,Besser,Joe,Besser,1907-08-12,1988-03-01,heart failure,80,NaN,200

In [17]:
# Read a data file. Interpret strings around numbers as 'thousands' separators.
df = pd.read_csv('data.csv', parse_dates=True, thousands=',')
df

,Unnamed: 0,stagefirst,stagelast,realfirst,reallast,born,died,cause,age,height,weight
0,0,Moe,Howard,Moses Harry,Horwitz,1897-06-19,1975-05-04,lung cancer,77,114,25000
1,1,Larry,Fine,Louis,Feinberg,1902-10-05,1975-01-24,stroke,72,124,94000
2,2,Curly,.,Jerome Lester,Horwitz,1903-10-22,1952-01-18,cerebral hemorrhage,48,131,157
3,3,Shemp,Howard,Samuel,Horwitz,1895-03-11,1955-11-22,heart attack,60,.,162
4,4,Curly Joe,DeRita,Joseph,Wardell,1909-07-12,1993-07-03,pneumonia,83,.,170
5,5,Joe,Besser,Joe,Besser,1907-08-12,1988-03-01,heart failure,80,.,200